{% extends 'layouts/_layout' %}

{% block content %}

    {% set entry = craft.entries.section('home').one %}

    <section class="flex flex-wrap w-full pb-20">
        <div class="w-full text-center">
            <h1 class="pb-12 font-display font-normal text-4xl tracking-wider">About</h1>
        </div>

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5">
            <p class="text-xl leading-9">
                {{ entry.about|nl2br }}
            </p>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

    </section>

{% endblock %}
