{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex flex-wrap w-full pb-8 md:pb-10">

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left">
            <h1 class="font-display text-4xl md:text-5xl leading-tight tracking-wider pb-6">CV</h1>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left mt-6 mb-8">
            <a href="https://goodgarden.nz/uploads/cv.pdf" target="_blank" class="text-base font-semibold hover:shadow uppercase tracking-extra-wide cursor-pointer text-greenlighter bg-greendarker rounded-none hover:bg-greendarkes py-3 px-6">Download</a>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5">
            <div class="flex text-lg md:text-xl tracking-wide pb-12">
                <div class="hidden md:block w-1/4 font-bold">
                    <p>Name</p>
                    <p>DOB</p>
                    <p>Email</p>
                    <p>Phone</p>
                    <p>Address</p>
                </div>
                <div class="w-full md:w-3/4">
                    <p class="pb-4 md:pb-0"><span class="md:hidden font-bold">Name<br></span> Alex Ferens</p>
                    <p class="pb-4 md:pb-0"><span class="md:hidden font-bold">DOB<br></span> 15 March 1990 ({{ date('now').diff((date('1990-3-15'))).format('%y years, %m months and %d days') }})</p>
                    <p class="pb-4 md:pb-0"><span class="md:hidden font-bold">Email<br></span> <a href="mailto:thatand@thist.co.nz" class="text-black no-underline border-black border-b">hello@goodgarden.nz</a></p>
                    <p class="pb-4 md:pb-0"><span class="md:hidden font-bold">Phone<br></span> +64 27 343 7943</p>
                    <p class="pb-4 md:pb-0"><span class="md:hidden font-bold">Address<br></span> 126 McRobbie Road, Kingseat, Auckland, 2580</p>
                </div>
            </div>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        {# Education #}

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left">
            <h1 class="pb-12 font-display text-2xl md:text-3xl leading-tight tracking-wide">Education</h1>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5">
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Bachelor of Visual Communication Design</span><br>Massey University, Wellington<br>2008-2011</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-12">
                <p><span class="font-bold">University entrance, NCEA Level 3</span><br>2007</p>
            </div>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        {# Skills #}

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left">
            <h1 class="pb-12 font-display text-2xl md:text-3xl leading-tight tracking-wide">Skills</h1>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5">
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Universal</span><br>Project management, consultation.</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Digital</span><br>Web development (HTML, CSS, JS, PHP, SQL, UNIX), data analytics, graphic/digital design, UI/UX, Adobe suite, Workspace/Microsoft 365, CRM.</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-12">
                <p><span class="font-bold">Physical</span><br>Plant identification (endemic/native and invasive species), integrated pest management (plant, animal, insect and fungal), market gardening, construction, design, pruning, organics (holistic).</p>
            </div>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        {# Employment #}

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left">
            <h1 class="pb-12 font-display text-2xl md:text-3xl leading-tight tracking-wide">Employment</h1>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5">
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Good Garden</span><br><span class="font-bold italic">Roles:</span> Garden maintenance, design and consultation<br><span class="font-bold italic">Responsibilities:</span> Creation and implementation of sustainable garden services.<br>2020 &mdash; present</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Hamlin Road Organic Farm</span><br><span class="font-bold italic">Roles:</span> Farm worker, Mental health support worker<br><span class="font-bold italic">Responsibilities:</span> Advocating for tāngata whai ora with mental health and addiction challenges while occupationally upkilling and sharing knowledge in the context of organic market gardening.<br>2022 &mdash; 2024</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Rescaped</span><br><span class="font-bold italic">Roles:</span> Landscape construction and soft landscape specialist<br><span class="font-bold italic">Responsibilities:</span> Site maintenance, client relations and tailored garden maintenance.<br>2020 &mdash; 2021</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Humphreys</span><br><span class="font-bold italic">Roles:</span> Garden maintenance<br><span class="font-bold italic">Responsibilities:</span> Delivery and communication of permaculture based garden services in a time sensitive, rostered environment. Digital reporting.<br>2020 (8 months)</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Pitch Studio</span><br><span class="font-bold italic">Roles:</span> Development lead, analytics, design and digital strategy<br><span class="font-bold italic">Responsibilities:</span> Main point of contact for the deliverability and support for all digital services. Analysis of data and creation of actionable reports. Contributor to strategic planning and documentation.<br>2017 &mdash; 2019</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Neighbrhood</span><br><span class="font-bold italic">Roles:</span> Front end development, graphic design and social media strategy<br><span class="font-bold italic">Responsibilities:</span> Creation of digital assets, management and reporting on digital campaigns.<br>2013 &mdash; 2015</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Thist</span><br><span class="font-bold italic">Roles:</span> Web development, design, SEO, consultation and digital strategy<br><span class="font-bold italic">Responsibilities:</span> Creation and deliverability of digital assets and strategy.<br>2011 &mdash; present</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Okurukuru</span><br><span class="font-bold italic">Roles:</span> Front of house<br>2008 &mdash; 2009 (Seasonal)</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-6">
                <p><span class="font-bold">Peter &amp; Sandra Lewis</span><br><span class="font-bold italic">Roles:</span> Building labour<br>2007 &mdash; 2008 (Seasonal)</p>
            </div>
            <div class="flex text-lg md:text-xl tracking-wide pb-12">
                <p><span class="font-bold">Hamish Logan - Share milker</span><br><span class="font-bold italic">Roles:</span> Milker/Farm labour<br>2006 &mdash; 2008 (Seasonal)</p>
            </div>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        {# References #}

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left">
            <h1 class="pb-12 font-display text-2xl md:text-3xl leading-tight tracking-wide">References</h1>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5">
            <div class="flex text-lg md:text-xl tracking-wide pb-12">
                <div class="hidden md:block w-1/4 font-bold">
                    <p>James Macfarlane</p>
                    <p>Sheldon Barnett</p>
                </div>
                <div class="w-full md:w-3/4">
                    <p class="pb-4 md:pb-0"><span class="md:hidden font-bold">James Macfarlane<br></span> Pitch &mdash; +64 21 277 6225 &mdash; <a href="mailto:james@pitchstudio.co.nz" rel="noreferrer" class="text-black no-underline italic border-black border-b">james@pitchstudio.co.nz</a></p>
                    <p class="pb-4 md:pb-0"><span class="md:hidden font-bold">Sheldon Barnett<br></span> Rescaped &mdash; +64 27 389 7870 &mdash; <a href="mailto:sheldon@rescaped.co.nz" rel="noreferrer" class="text-black no-underline italic border-black border-b">sheldon@rescaped.co.nz</a></p>

                </div>
            </div>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        {# Pepeha #}

        {#<div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left">
            <h1 class="pb-12 font-display text-2xl md:text-3xl leading-tight tracking-wide">Pepeha</h1>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5">
            <p class="text-xl md:text-2xl tracking-wide pb-4">
                Kia ora tātou<br>
                Ko Taranaki te maunga<br>
                Ko Oakura te awa<br>
                Ko John Wickliffe te waka<br>
                Nō Taranaki ahau<br>
                Ko Ferens tōku whānau<br>
                Ko Alex tōku ingoa<br><br>
            </p>
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>#}

    </section>

{% endblock %}
