{% extends 'layouts/_layout' %}

{% block content %}

    {# About #}

    {% set aboutImage = entry.heroImage.one() %}

    <section id="about" class="flex flex-wrap flex-col-reverse md:flex-row w-full pt-2 pb-10 md:pt-20 md:pb-20">
        <div class="w-full md:w-1/2">
            <div class="max-w-sm mr-12 md:float-right md:pt-4 lg:pt-0">
                <img src="{{ aboutImage.url('about') }}" alt="Alex Ferens" title="Alex Ferens" />
            </div>
        </div>
        <div class="w-full md:w-1/2 md:pr-4 lg:pr-16">

            <h3 class="md:hidden pb-16 font-semibold text-2xl leading-normal">{{ entry.introductionStatement.statement }}</h3>

            <h1 class="pb-6 font-display text-4xl md:text-5xl tracking-wider">About</h1>
            <p class="text-xl md:text-lg lg:text-xl pb-8"> {# leading-9 #}
                {{ entry.about|nl2br }}
            </p>

            <p class="text-xl md:text-lg lg:text-xl pb-8"> {# leading-9 #}
                IG: <a href="https://www.instagram.com/goodgarden.nz/" target="_blank" rel="noreferrer">goodgarden.nz</a><br />
                iNaturalist: <a href="https://inaturalist.nz/observations?place_id=any&user_id=asferens&verifiable=any" target="_blank" rel="noreferrer">asferens</a> {# https://inaturalist.nz/people/kaipatiki_naturewatch #}
            </p>
        </div>
    </section>

    {# Projects #}

    <section id="projects" class="flex flex-wrap mt-8 md:mt-0 pb-6">

        <div class="w-full">
            <h1 class="font-display text-4xl md:text-5xl text-left tracking-wider pt-4 md:pt-12 pb-2">Latest projects</h1>
        </div>

        <div class="w-full flex flex-wrap md:flex-row md:pt-6 pb-8 md:pb-0">

            {% for project in craft.entries.section('projects').all() %}

                <div class="w-full md:w-1/3 lg:w-1/4 pb-4 md:pb-0 pr-8">

                    <a href="{{ project.url }}">

                        {% set hero = project.heroImage.one() %}

                        {% if hero|length %}
                            <img src="{{ hero.url('projectHero') }}" class="max-w-sm md:max-w-xl w-full bg-greendarker" alt="{{ project.title }}" title="{{ project.title }}" />
                        {% endif %}

                        <h3 class="font-semibold text-xl xl:text-2xl tracking-normal py-4 md:pr-12">{{ project.title }}</h3>

                    </a>

                </div>

            {% endfor %}

        </div>

    </section>

    {# Services #}

    <section class="flex flex-wrap w-full py-10 md:py-20">

        <div class="w-full border-b border-greendarker">
            <h1 class="font-display text-4xl md:text-5xl tracking-wider pt-2 pb-12">Services</h1>
        </div>

        {% for service in entry.serviceOverview.all() %}

            <div class="accordion flex flex-wrap overflow-hidden w-full border-b border-greendarker bg-greenlighter">

                <input type="checkbox" {% if loop.first %}checked{% else %}{% endif %} id="accordion-{{ loop.index }}" class="absolute opacity-0">

                <label class="accordion-label w-full cursor-pointer" for="accordion-{{ loop.index }}">
                    <h2 class="font-semibold text-2xl tracking-wider pl-4 py-4">{{ service.serviceTitle }}</h2>
                </label>

                <div class="accordion-content flex w-full">
                    <div class="flex flex-wrap w-0 md:w-1/3">
                    </div>
                    <div class="flex flex-wrap w-full md:w-1/2 pb-12 md:pb-24">
                        <p class="text-xl md:text-2xl pb-8 pt-6 md:pt-12">
                            {{ service.serviceDescription|nl2br }}
                        </p>
                        <a href="/#contact" class="text-xl md:text-2xl underline">Request a quote</a>
                    </div>

                </div>

            </div>

        {% endfor %}

        <div class="accordion flex flex-wrap overflow-hidden w-full pm-6 md:mb-8">

            <input type="checkbox" id="accordion-4" class="absolute opacity-0">

            <label class="accordion-label w-full cursor-pointer" for="accordion-4">
                <h2 class="font-semibold text-2xl tracking-wider pl-4 py-4">Maintenance</h2>
            </label>

            <div class="accordion-content flex w-full">
                <div class="flex flex-wrap w-0 md:w-1/3">
                </div>
                <div class="w-full md:w-1/2 pb-12 md:pb-24">
                    <p class="text-xl md:text-2xl pb-8 pt-6 md:pt-12">
                        {% for entry in craft.entries.section('service').all() %}
                            {% if loop.last %}
                                &mdash; {#<a href="/services/{{ entry.slug }}" class="hover:underline">#}{{ entry.title }}{#</a>#}.
                            {% else %}
                                &mdash; {#<a href="/services/{{ entry.slug }}" class="hover:underline">#}{{ entry.title }}{#</a>#}<br />
                            {% endif %}
                        {% endfor %}
                    </p>
                    <a href="/#contact" class="text-xl md:text-2xl underline">Request a quote</a>
                </div>
            </div>

        </div>

    </section>

    {# Key principles #}

    <section id="keyPrinciples" class="py-10 md:pt-8 md:pb-20 flex flex-wrap w-full">
        <div class="w-full">
            <h1 class="pb-6 font-display text-4xl md:text-5xl tracking-wider">Key principles</h1>
        </div>

        {% for principle in entry.keyPrinciples.all() %}
            <div class="w-full md:w-1/2 lg:w-1/2">
                {% if loop.index is odd %}
                    <div class="md:mr-4 my-4 pt-8 pb-8 md:pb-16 md:pr-6 border-t border-greendarker bg-greenlighter">
                {% else %}
                    <div class="md:ml-4 my-4 pt-8 pb-8 md:pb-16 md:pr-6 border-t border-greendarker bg-greenlighter">
                {% endif %}
                    <h2 class="font-semibold text-2xl tracking-wider md:pt-2 pb-4">{{ principle.principleTitle }}</h2>
                    <p class="text-xl pt-2">
                        {{ principle.keyPrinciple|nl2br }}
                    </p>
                </div>
            </div>
        {% endfor %}

    </section>

    {# Contact #}

    <section id="contact" class="flex flex-wrap w-full pt-8 pb-20">
        <div class="w-full">
            <h1 class="pb-6 font-display text-4xl md:text-5xl tracking-wider">Contact</h1>
        </div>
        <div class="w-full md:w-2/3 text-xl md:text-2xl">

            {% set timeOfDay = "now"|date("G")  %}

            <p class="text-xl md:text-3xl">
                {% if timeOfDay < 12 %}
                    Ata mārie,
                {% elseif timeOfDay < 17 %}
                    Ahiahi mārie,
                {% else %}
                    Pō marie,
                {% endif %}
                    {{ entry.contact }}
            </p>
        </div>

        {% macro errorList(errors) %}
            {% if errors %}
                <ul class="errors">
                    {% for error in errors %}
                        <li class="text-red pl-3">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endmacro %}

        {% from _self import errorList %}

        <form method="post" action="" accept-charset="UTF-8" class="flex flex-wrap w-full md:w-2/3 pt-12">

            {{ csrfInput() }}
            <input type="hidden" name="action" value="contact-form/send">
            <input id="address" name="address" class="hidden" type="text">
            {{ redirectInput('thanks?from={fromName}') }}

            <div class="w-full md:w-1/2 md:pr-6">
                <h3><label class="text-sm tracking-extra-wide" for="from-name">Name*</label></h3>
                <input id="from-name" class="w-full text-xl bg-greenlighter border-b border-greendarker rounded-none focus:border-black focus:outline-none placeholder-black my-2 p-3" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="We all have one" required>
                {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
            </div>
            <div class="w-full md:w-1/2">
                <h3><label class="text-sm tracking-extra-wide" for="from-email">Email*</label></h3>
                <input id="from-email" class="w-full text-xl bg-greenlighter border-b border-greendarker rounded-none focus:border-black focus:outline-none placeholder-black my-2 p-3" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="I wish I only had one" required>
                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
            </div>

            <div class="w-full">
                <h3><label class="text-sm tracking-extra-wide" for="subject">Subject*</label></h3>
                <input id="subject" class="w-full text-xl bg-greenlighter border-b border-greendarker rounded-none focus:border-black focus:outline-none placeholder-black my-2 p-3" type="text" name="subject" value="{{ message.subject ?? '' }}" placeholder="How can I help?" required>
                {{ message is defined and message ? errorList(message.getErrors('subject')) }}
            </div>

            <div class="w-full">
                <h3><label class="text-sm tracking-extra-wide" for="message">Message*</label></h3>
                <textarea rows="4" cols="40" id="message" class="w-full text-xl bg-greenlighter border-b border-greendarker rounded-none focus:border-black focus:outline-none placeholder-black mt-2 p-3" name="message" placeholder="And so the story goes..." required>{{ message.message ?? '' }}</textarea>
                {{ message is defined and message ? errorList(message.getErrors('message')) }}
            </div>

            <div>
                <input type="submit" value="Submit" class="text-base font-semibold hover:shadow uppercase tracking-extra-wide cursor-pointer text-greenlighter bg-greendarker rounded-none hover:bg-greendarkest mt-8 py-3 px-6">
            </div>
        </form>

    </section>

{% endblock %}
