{% extends 'layouts/_layout' %}

{% block content %}

    <section class="pb-20 flex flex-wrap w-full">
        <div class="w-full text-center">
            <h1 class="pb-6 font-display font-normal text-4xl tracking-wider">Key principles</h1>
        </div>

        {% set kp = craft.entries.section('home').one() %}

        {% for principle in kp.keyPrinciples.all() %}
            <div class="hidden lg:flex lg:w-1/5">
            </div>
            <div class="w-full lg:w-3/5">
                <div class="md:m-4 pt-8 pb-6">
                    <h2 class="pt-2 pb-4 text-2xl">{{ principle.principleTitle }}</h2>
                    <p class="text-xl leading-9 pt-2">
                        {{ principle.keyPrinciple|nl2br }}
                    </p>
                    <h3 class="text-lg pt-8 pb-4">Associated services</h3>
                    <div class="flex flex-wrap">
                        {% for aS in principle.associatedServices.all() %}
                            <p class="px-4 py-2 mb-2 mr-2 border border-greendarker bg-greenlighter rounded-lg">
                                {{ aS.title }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="hidden lg:flex lg:w-1/5">
            </div>
        {% endfor %}

    </section>

{% endblock %}
