{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex flex-wrap w-full pb-8 md:pb-10">
        <div class="w-full text-left md:text-center">
            <h1 class="pb-12 font-display text-4xl md:text-5xl leading-tight tracking-wider">{{ entry.title }}</h1>
        </div>

        <div class="hidden lg:flex lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5">
            {{ entry.philosophy|nl2br|retconAttr('a', { class: 'border-b' })|retconAttr('p', { class: 'text-xl md:text-2xl tracking-wide pb-4'}) }}

            {% set hero = entry.heroImage.one() %}

            {% if hero|length %}
                    <img src="{{ hero.url('general') }}" class="w-full pt-8" alt="{{ entry.title }}" title="{{ entry.title }}" />
            {% endif %}
        </div>
        <div class="hidden lg:flex lg:w-1/5">
        </div>

    </section>

{% endblock %}
