{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex flex-wrap w-full pb-8 md:pb-10">

        <div class="w-full border-b border-greendarker">
            <h1 class="font-display text-4xl md:text-5xl leading-tight tracking-wider pb-12">Services</h1>
        </div>

        {% set homeService = craft.entries.section('home').one() %}

        {% for service in homeService.serviceOverview.all() %}

            <div class="flex flex-wrap w-full border-b border-greendarker bg-greenlighter pt-10 md:pt-4 pb-12 md:pb-24">

                <div class="w-full md:w-1/3">
                    <h2 class="font-semibold text-2xl tracking-wider pb-4">{{ service.serviceTitle }}</h2>
                </div>

                <div class="w-full md:w-1/2">
                    <p class="text-xl md:text-2xl md:pt-12">
                        {{ service.serviceDescription|nl2br }}
                    </p>
                </div>

                <div class="flex flex-wrap w-full">
                    <div class="hidden md:block w-full md:w-1/3">
                    </div>
                    <div class="w-full md:w-1/2 mb-6 pt-6 md:pt-8">
                        <a href="/#contact" class="text-xl md:text-2xl underline">Request a quote</a>
                    </div>
                </div>

            </div>

        {% endfor %}

        <div class="flex flex-wrap w-full pt-10 md:pt-4 pb-6 md:pb-12">

            <div class="w-full md:w-1/3">
                <h2 class="font-semibold text-2xl tracking-wider pb-4">Maintenance</h2>
            </div>

            <div class="w-full md:w-1/2">
                <p class="text-xl md:text-2xl md:pt-12">
                    {% for entry in craft.entries.section('service').all() %}
                        {% if loop.last %}
                            &mdash; {#<a href="/services/{{ entry.slug }}" class="hover:underline">#}{{ entry.title }}{#</a>#}.
                        {% else %}
                            &mdash; {#<a href="/services/{{ entry.slug }}" class="hover:underline">#}{{ entry.title }}{#</a>#}<br />
                        {% endif %}
                    {% endfor %}
                </p>
            </div>

        </div>

        <div class="flex flex-wrap w-full">
            <div class="hidden md:block w-full md:w-1/3">
            </div>
            <div class="w-full md:w-1/2 mb-6 pt-6 md:pt-8">
                <a href="/#contact" class="text-xl md:text-2xl underline">Request a quote</a>
            </div>
        </div>

    </section>

{% endblock %}
