{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex w-full pt-6 pb-12 lg:pt-12 lg:pb-32">
        <div class="w-full">

            <h1 class="font-display font-normal text-5xl leading-tight tracking-wider pb-6 md:pb-2">
                Thanks {% if craft.app.request.getQueryParam('from')|length %}{{ craft.app.request.getQueryParam('from') }}.{% endif %}
            </h1>

            <p class="max-w-md text-lg pb-12">
                I'll be sure to get back to you as soon as possible.
            </p>

        </div>
</section>

{% endblock %}
