<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bac7a7">
    <meta name="msapplication-TileColor" content="#bac7a7">
    <meta name="theme-color" content="#ffffff">

    {# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.02 %}
    {# Until we're live, cachebust all assets #}
    {#{% set assetVersion = date().getTimestamp() %}#}

    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162773050-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162773050-1');
    </script>

</head>

    {% if entry.type == 'home' %}

        <body class="font-body {{ entry is defined ? entry.title|lower : "good-garden" }}-page bg-greenlighter">

    {% else %}

        <body class="font-body {{ entry is defined ? entry.title|lower : "good-garden" }}-page bg-greenlighter">

    {% endif %}
        <script>0</script>

        {% if entry.type == 'home' %}

            {% set bgImage = entry.backgroundImage.one() %}

            <div class="py-4 px-6 md:h-screen bg-no-repeat bg-greendarker bg-center bg-cover" style="background-image: url('{{ bgImage.url('hero') }}')">
                <header class="md:relative mb-12 flex flex-wrap w-full z-10">

        {% else %}

            <header class="py-4 px-6 relative mb-12 flex flex-wrap w-full z-10">

        {% endif %}

                <div class="w-4/5 md:w-1/3">
                    <h1 class="relative z-20 font-display font-normal text-3xl sm:text-4xl lg:text-5xl tracking-wider m-0"><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
                    {% set home = craft.entries.section('home').one() %}
                    <h2 class="relative z-20 font-normal text-xs md:text-base tracking-wide leading-tight my-2 md:mx-1">{{ home.subtitle|nl2br }}</h2>
                </div>

                <div class="hidden md:block w-2/3 mt-4 md:mt-8 md:pr-8 text-left md:text-right tracking-wider">
                    <a href="/" class="{{ entry.type == "home" ? "text-black" : "text-greendarkest hover:text-black" }} pr-2 md:pr-4">Home</a>
                    <a href="/services" class="{{ entry.type == "services" ? "text-black" : "text-greendarkest hover:text-black" }} pr-2 md:pr-4">Services</a>
                    <a href="/philosophy" class="{{ entry.type == "philosophy" ? "text-black" : "text-greendarkest hover:text-black" }} pr-2 md:pr-4">Philosophy</a>
                    <a href="/decomposition-diary" class="{{ entry.type == "diary" ? "text-black" : "text-greendarkest hover:text-black" }} pr-2 md:pr-4">Diary</a>
                    <a href="/#contact" class="hover:text-black text-greendarkest">Contact</a>
                </div>

                <div id="menu" class="md:hidden w-full absolute top-0 right-0 text-right">

                    {% css %}
                    nav {
                      opacity: 0;
                      height: 0;
                      transition: opacity 0.3s, height 0.3s 0.1s;
                    }
                    nav.active {
                      opacity: 95%;
                      height: 100%;
                      transition: opacity 0.3s 0.1s, height 0.3s;
                    }
                    nav.active  li a{
                        opacity: 1;
                    }
                    .accordion input{
                        z-index: -1;
                    }
                    .accordion input:checked ~ .accordion-content {
                        max-height: 222vh;
                    }
                    .accordion .accordion-label:hover{
                        background: #bac7a7;
                    }
                    .accordion input ~ .accordion-label::before{
                        content: "+";
                        font-size: 2.8rem;
                        position: absolute;
                        right: 2.4rem;
                        color: #222;
                        transition: all 0.55s;
                    }
                    .accordion input:checked ~ .accordion-label::before{
                        transform: rotate(45deg);
                    }
                    .accordion-content{
                        max-height: 0;
                        transition: all 0.55s;
                    }
                    {% endcss %}

                    <button class="relative z-30 font-display outline-none focus:outline-none py-6 px-6" @click="toggleShow()">Menu</button>

                    <nav class="absolute top-0 right-0 left-0 bg-greenlighter" :class="{'active':show}">
                        <ul class="navItems z-20 list-none text-xl leading-loose bg-greenlighter pt-24 pl-12 pr-6 pb-8">
                            <li><a href="/" class="{{ entry.type == "home" ? "text-black" : "text-greendarkest hover:text-black" }}">Home</a></li>
                            <li><a href="/services" class="{{ entry.type == "services" ? "text-black" : "text-greendarkest hover:text-black" }}">Services</a></li>
                            <li><a href="/philosophy" class="{{ entry.type == "philosophy" ? "text-black" : "text-greendarkest hover:text-black" }}">Philosophy</a></li>
                            <li><a href="/decomposition-diary" class="{{ entry.type == "diary" ? "text-black" : "text-greendarkest hover:text-black" }}">Diary</a></li>
                            <li><a href="/#contact" class="hover:text-black text-greendarkest">Contact</a>
                        </ul>
                    </nav>
                </div>

                <script>
                    var menu = new Vue({
                        el: "#menu",
                        data: {
                            show: false
                        },
                        methods: {
                            toggleShow(){
                                this.show = !this.show
                            }
                        }
                    })
                </script>

            </header>

        {% if entry.type == 'home' %}

                <section class="relative flex flex-wrap w-1/2 md:w-full md:pb-10 z-10">
                    <div class="w-full md:w-2/3 lg:w-1/2 md:pt-12">
                        <h3 class="invisible md:visible mx-1 pb-6 font-normal text-xl md:text-3xl tracking-wide leading-normal">{{ entry.introductionStatement.statement }}</h3>

                        {% if entry.introductionStatement.statementSub|length %}
                            <div class="max-w-md">
                                <cite class="text-sm leading-none">{{ entry.introductionStatement.statementSub }}</cite>
                            </div>
                        {% endif %}

                    </div>
                </section>
            </div>

        {% else %}

        {% endif %}

        <main class="my-4 mx-6 md:pt-12">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="my-4 pt-8 px-6 mt-20 flex flex-wrap w-full">
            <div class="w-full border-t border-greendarker">
                <h1 class="m-0 pt-2 pb-0 font-display font-normal text-2xl tracking-wider"><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
            </div>
            <div class="w-full">
                <p class="text-xs">
                    &copy; {{ siteName }} {{ now|date('Y') }}. With love, <a href="https://thist.co.nz" target="_blank" class="underline">Thist</a> | <a href="/rss" class="underline">Diary RSS</a>
                </p>
            </div>
        </footer>

    </body>

    {#{% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}#}

</html>
