{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex justify-center pb-6">

        <div class="max-w-screen-lg">

            {% css %}

                .blink {
                    animation: blinker 1.8s linear infinite;
                }

                @keyframes blinker {
                    50% { opacity: 0; }
                }

            {% endcss %}

            <p class="text-sm md:text-lg text-greendarkest tracking-wide pb-6"><a href="/#projects" class="text-greendarkest">Projects</a> &mdash; <span class="blink">Ongoing</span></p>

            <h1 class="max-w-xl break-words font-display font-normal text-4xl lg:text-5xl leading-tight tracking-wide pt-2 pb-12 md:pb-4">{{ entry.title }}</h1>

            {% for dear in entry.dearDiary.all() %}

                {% if dear.type == "paragraph" %}
                <div class="pb-8">
                    {% if dear.paragraph|length %}
                        {{ dear.paragraph|nl2br|retconAttr('a', { class: 'border-b' })|retconAttr('p', { class: 'text-xl md:text-2xl font-normal tracking-wide pb-4 md:pr-12'}) }}
                    {% endif %}
                </div>

                {% elseif dear.type == "image" %}

                    {% set dearImage = dear.image.one() %}

                    {% set mode = (dearImage.getWidth() > dearImage.getHeight()) ? "landscape" : "portrait" %}

                        {% if mode == "portrait" %}
                            <img src="{{ dearImage.url('general') }}" class="w-3/4 md:w-1/2 pb-8" alt="{{ dearImage.title }}" title="{{ dearImage.title }}" />
                        {% else %}
                            <img src="{{ dearImage.url('general') }}" class="w-full md:w-3/4 pb-8" alt="{{ dearImage.title }}" title="{{ dearImage.title }}" />
                        {% endif %}

                {% elseif dear.type == "video" %}

                    {% set video = dear.video.one() %}

                        {% if dear.fullWidth %}
                            <div class="w-full mb-8">
                        {% else %}
                            <div class="w-3/4 md:w-1/2 mb-8">
                        {% endif %}
                            <video width="100%" height="100%" controls muted autoplay loop onloadedmetadata="this.muted = true">
                                <source src="{{ video.url() }}" type="video/mp4">
                            </video>
                        </div>

                {% endif %}

            {% endfor %}

        </div>

    </section>

{% endblock %}
