{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex flex-wrap w-full pb-10 md:pb-20">
        <div class="w-full text-center">
            <h1 class="pb-12 font-display font-normal text-4xl tracking-wider">{{ entry.title }}</h1>
        </div>

            <div class="flex flex-wrap flex-col-reverse md:flex-row w-full pb-12">

                <div class="hidden md:flex md:w-1/5">
                </div>
                <div class="w-full md:w-3/5">
                    <p class="text-xl leading-9">
                        {{ entry.serviceDescription|nl2br }}
                    </p>
                </div>
                <div class="hidden md:flex md:w-1/5">
                </div>

                <div class="hidden md:flex md:w-1/5">
                </div>
                <div class="w-full md:w-3/5 pt-12">
                    {% for asset in entry.serviceImage.all() %}
                        <img src="{{ asset.url('') }}" alt="{{ entry.title }}" title="{{ entry.title }}" width="100%">
                    {% endfor %}
                </div>
                <div class="hidden md:flex md:w-1/5">
                </div>

            </div>

    </section>

{% endblock %}
