{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex w-full pt-6 pb-12 lg:pt-12 lg:pb-32">

        <div class="w-full">
            <h2 class="font-display font-normal text-5xl tracking-wider leading-tight pb-0">404</h2>
            <p class="text-lg">Page not found, head <a href="{{ siteUrl }}" class="underline">home</a>.</p>
        </div>

    </section>

{% endblock %}
