<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ siteName }}</title>
        <link>{{ siteUrl }}</link>
        <atom:link href="{{ url(craft.app.request.pathInfo) }}" rel="self" type="application/rss+xml" />
        {% set desc = craft.entries.section('home').one() %}
        <description>Decomposition Diary</description>
        <language>en-us</language>
        <pubDate>{{ now|rss }}</pubDate>
        <lastBuildDate>{{ now|rss }}</lastBuildDate>

        {% for entry in craft.entries.section('decompositionDiary').all() %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{ entry.url }}</link>
                <pubDate>{{ entry.postDate|rss }}</pubDate>
                <guid>{{ entry.url }}</guid>
                {% for dear in entry.dearDiary.limit(1).all() %}
                    {% if dear.paragraph|length %}
                    <description><![CDATA[
                        {{ dear.paragraph|nl2br }}
                    ]]></description>
                    {% endif %}
                {% endfor %}
            </item>
        {% endfor %}
    </channel>
</rss>
