{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex justify-center pb-6">

        <div class="max-w-screen-lg">

        <p class="text-sm md:text-lg text-greendarker tracking-wide pb-6"><a href="/decomposition-diary" class="text-greendarkest">Diary</a> &mdash; {{ entry.title }}</p>

        {% set hero = entry.heroImage.one() %}

        {% if hero|length %}
            {% set mode = (hero.getWidth() > hero.getHeight()) ? "landscape" : "portrait" %}
            {% if mode == "portrait" %}
                <img src="{{ hero.url('general') }}" class="w-full md:w-3/4 pb-8" alt="{{ entry.title }}" title="{{ entry.title }}" />
            {% else %}
                {#{% if entry.bigDisplay %}
                    <img src="{{ hero.url('general') }}" class="w-full pb-8" alt="{{ entry.title }}" title="{{ entry.title }}" />
                {% else %}#}
                    <img src="{{ hero.url('general') }}" class="w-full {#md:w-1/2 float-left#} md:pr-6 pb-8" alt="{{ entry.title }}" title="{{ entry.title }}" />
                {#{% endif %}#}
            {% endif %}

            <h1 class="font-display break-words font-normal text-4xl lg:text-5xl leading-tight tracking-wide pt-2 pb-12 md:pb-4">{{ entry.title }}</h1>

        {% else %}
            <h1 class="max-w-xl break-words font-display font-normal text-4xl lg:text-5xl leading-tight tracking-wide pt-2 pb-12 md:pb-4">{{ entry.title }}</h1>
        {% endif %}

        <p class="text-sm font-normal tracking-wide pb-8">
            {{ entry.postDate|date("M d, Y") }}
        </p>

        {% for dear in entry.dearDiary.all() %}

            {% if dear.type == "paragraph" %}
            <div class="pb-8">
                {% if dear.paragraph|length %}
                    {{ dear.paragraph|nl2br|retconAttr('a', { class: 'underline' })|retconAttr('p', { class: 'text-xl md:text-2xl font-normal tracking-wide pb-4 md:pr-12'}) }}
                {% endif %}
            </div>

            {% elseif dear.type == "image" %}

                {% set dearImage = dear.image.one() %}

                {% set mode = (dearImage.getWidth() > dearImage.getHeight()) ? "landscape" : "portrait" %}

                    {% if mode == "portrait" %}
                        <img src="{{ dearImage.url('general') }}" class="w-3/4 md:w-1/2 pb-8" alt="{{ dearImage.title }}" title="{{ dearImage.title }}" />
                    {% else %}
                        <img src="{{ dearImage.url('general') }}" class="w-full md:w-3/4 pb-8" alt="{{ dearImage.title }}" title="{{ dearImage.title }}" />
                    {% endif %}

            {% elseif dear.type == "video" %}

                {% set video = dear.video.one() %}

                    <div class="w-3/4 md:w-1/2 mb-8">
                        <video width="100%" height="100%" controls muted autoplay loop onloadedmetadata="this.muted = true">
                            <source src="{{ video.url() }}" type="video/mp4">
                        </video>
                    </div>

            {% endif %}

        {% endfor %}

        </div>

    </section>

    <section class="flex-wrap w-full">
        {% set params = craft.entries.section("decompositionDiary") %}
        {% set prevEntry = entry.getPrev(params) %}
        {% set nextEntry = entry.getNext(params) %}

        <div class="flex flex-wrap w-full text-xl border-t border-greendarker mt-12 py-4">
            <div class="w-full md:w-1/2 text-center md:text-left py-2">
                {% if prevEntry %}<a href="{{ prevEntry.url }}">&#8592; {{ prevEntry.title }}</a>{% else %}<a href="/decomposition-diary" class="text-grey">Start | Back to the Diary</a>{% endif %}
            </div>
            <div class="w-full md:w-1/2 text-center md:text-right py-2">
                {% if nextEntry %}<a href="{{ nextEntry.url }}">{{ nextEntry.title }} &#8594;</a>{% else %}<a href="/decomposition-diary" class="text-grey">End | Back to the Diary</a>{% endif %}
            </div>
        </div>
    </section>

{% endblock %}
