{% extends 'layouts/_layout' %}

{% block content %}

    <section class="pb-20 flex flex-wrap w-full">
        <div class="w-full text-left md:pl-2">
            <h1 class="font-display font-normal text-4xl lg:text-6xl leading-tight tracking-wider pb-12 md:pb-6">Decomposition <br />Diary</h1>
        </div>

        {#{% for diary in craft.entries.section('decompositionDiary').all() %}#}
        {% paginate craft.entries.section("decompositionDiary").limit(18) as pageInfo, decoDiary %}
        {% for diary in decoDiary %}

            {% set hero = diary.heroImage.one() %}

            {% if diary.bigDisplay %}
                <div class="w-full lg:w-2/3 pb-8 md:pb-0">
            {% else %}
                <div class="w-full lg:w-1/3 pb-8 md:pb-0">
            {% endif %}
                <div class="md:m-4 pb-6 bg-green">

                    <a href="{{ diary.url }}">

                        {% if hero|length %}
                            <img src="{{ hero.url('general') }}" class="w-full bg-greendarker" alt="{{ diary.title }}" title="{{ diary.title }}" />
                        {% endif %}

                        <h2 class="pt-4 pb-2 text-2xl font-display tracking-wide text-left pl-4 pr-4">{{ diary.title }}</h2>

                        {% for dear in diary.dearDiary.limit(1).all() %}

                            {% if dear.paragraph|length %}
                                <h3 class="text-sm font-normal tracking-wide text-left pb-4 pl-4 pr-12">{{ dear.paragraph|retconAttr('a', { 'class': 'underline'})|retconAttr('p', { class: 'pb-4'}) }}</h3>
                            {% endif %}

                        {% endfor %}

                    </a>

                    <p class="text-xs font-normal tracking-wide text-left pb-4 pl-4">
                        {{ diary.postDate|date("M d, Y") }}
                    </p>

                </div>
            </div>

        {% endfor %}

    </section>

    <section class="flex-wrap w-full">
        <div class="flex flex-wrap w-full text-xl border-t border-greendarker mt-12 py-4">
            <div class="w-full md:w-1/2 text-center md:text-left py-2">
                {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">&#8592; Previous</a>{% endif %}
            </div>
            <div class="w-full md:w-1/2 text-center md:text-right py-2">
                {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next &#8594;</a>{% endif %}
            </div>
        </div>
    </section>

{% endblock %}
